<div class="container">
  <footer class="py-0 my-0">
    <ul class="nav justify-content-center border-bottom pb-0 mb-0">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Aceres</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Arellano</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Bechayda</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">De Vera</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Encarnacion</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Malinay</a></li>
    </ul>
    <p class="text-center text-muted">© 2022 TEAM F</p>
  </footer>
</div>

<style>
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b5e2ff;
    color: white;
    text-align: center;
}
</style>