<div class="footer">
    <ul class="nav justify-content-center">
        <div class="credits">
          <li class="nav-item">Aceres</li>
        </div>

        <div class="credits">
          <li class="nav-item">Arellano</li>
        </div>

        <div class="credits">
          <li class="nav-item">Bechayda</li>
        </div>

        <div class="credits">
          <li class="nav-item">De Vera</li>
        </div>

        <div class="credits">
          <li class="nav-item">Encarnacion</li>
        </div>

        <div class="credits">
          <li class="nav-item">Malinay</li>
        </div>
    </ul>

    <div class="credits">
      © 2022 TEAM F
    </div>
</div>