<div class="header">
  <div class="title">
    Task Management System
  </div>  

 <div class="all">  
      <%=link_to "All Buckets", buckets_path, class:"buckets"%>
      <%=link_to "All Tasks", tasks_path, class:"tasks"%>
 </div>
</div>

