<div class="d-flex align-items-center justify-content-center">
    <h1>BUCKETS LIST</h1>
</div>
<br>
<div class="d-flex align-items-center justify-content-center">
    <%= button_to "Create Bucket", new_bucket_path, method: :get %>
</div>
<br>

<div class="container text-center">
  <div class="row align-items-center justify-content-center">
    <div class="col-4">
      <h5>Empty Buckets</h5>
    </div>
    <div class="col-4">
      <h5>Pending Buckets</h5>
    </div>
    <div class="col-4">
      <h5>Completed Buckets</h5>
    </div>
  </div>
  <div class="row align-items-center justify-content-center">
    <div class="col-4">
        <% @empty_buckets.each do |bucket| %>
        <h6><span style="font-weight:normal"><%= link_to bucket.name, bucket_path(bucket) %></span></h6>
        <% end %>
    </div>
    <div class="col-4">
        <% @pending_buckets.each do |bucket| %>
        <h6><span style="font-weight:normal"><%= link_to bucket.name, bucket_path(bucket) %></span></h6>
        <% end %>
    </div>
    <div class="col-4">
        <% @completed_buckets.each do |bucket| %>
        <h6><span style="font-weight:normal"><%= link_to bucket.name, bucket_path(bucket) %></span></h6>
        <% end %>
    </div>
  </div>
</div>